@model PCRentalMGR.Models.User

@{
    ViewData["Title"] = "ユーザー詳細";
}

<h1>ユーザー詳細</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_no)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_no)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name_kana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name_kana)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tel_no)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel_no)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mail_address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mail_address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account_level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account_level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">編集</a> |
    <a onclick="history.back()" class="btn btn-secondary">戻る</a>
</p>
